
@{
    ViewBag.Title = "Cookiess";
    var username = Request.Cookies["uname"] != null ? Request.Cookies["uname"].Value : "";
    var password = Request.Cookies["pass"] != null ? Request.Cookies["pass"].Value : "";
}

<script>
    function GetPassword() {
        var txtu = document.getElementById("txtun").value;
        if (txtu == "@username") {
            document.getElementById("txtps").value = "@password";
        }
    }
</script>

<h2>Cookiess</h2>

<div class="container">
    @using (Html.BeginForm())
    {
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2">Username</label>
                <input id="txtun" name="txtun" type="text" class="form-control" onchange="GetPassword();" />
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Password</label>
                <input id="txtps" name="txtps" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label col-md-2"></label>
                <input type="submit" value="Submit" class="btn btn-info" />
            </div>
        </div>
    }
</div>