
@{
    ViewBag.Title = "Index2";
    var grid = new WebGridMvc.WebGrid<DatatablesAndWebGrid.EDM.tblemployee>(Model,canPage:true, rowsPerPage:6, canSort:true);
}

<h2>Index2</h2>

@grid.GetHtml(tableStyle:"table",columns: new[] {
    grid.Column("emp_id","Employee ID"),
    grid.Column("f_name","First Name"),
    grid.Column("salary","Salary"),
    grid.Column("mobile","Mobile"),
    grid.Column("Email","Email")
})