
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    <a href="/Default/Create">Create New</a>
</p>

<table class="table" id="tbl">
    <tr>
        <th>Employee ID</th>
        <th>First Name</th>
        <th>Salary</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Gender</th>
        <th>Address</th>
    </tr>

</table>
<script>
    $(document).ready(function () {
        $.ajax({
            url: "/Default/GetEmployees",
            type: "GET",
            dataType: "json",
            success: function (empdata) {
                $.each(empdata, function (key, item) {
                    $("#tbl").append("<tr>"
                        + "<td>" + item.emp_id + "</td>"
                        + "<td>" + item.f_name + "</td>"
                        + "<td>" + item.salary + "</td>"
                        + "<td>" + item.email + "</td>"
                        + "<td>" + item.mobile + "</td>"
                        + "<td>" + item.gender + "</td>"
                        + "<td>" + item.address + "</td>"
                        + "<td><a href='/Default/Edit/" + item.emp_id + "'>Edit</a> | <a href='/Default/Delete/" + item.emp_id + "'>Delete</a></td>"
                        + "</tr>");
                });
            }

        });
    });
</script>