
@{
    ViewBag.Title = "Index";
}

<script>
    function getText() {
        var text = document.getElementById("txt").value;
        alert(text);
    }
</script>

<h2>Index</h2>

<input type="text" id="txt" class="txtname" />
<input id="Button1" type="button" value="button" onclick="getText();" />